@page "{whiskyId:int?}"
@model SLS.Pages.Slijterij.EditModel
@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/images/" + (Model.Whisky.PhotoPath ?? "noimage.jpg");
}

<h2>@Model.Whisky.Name @Model.Message</h2>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Whisky.Id" />
    <input type="hidden" asp-for="Whisky.PhotoPath" />
    <div class="form-group">
        <label asp-for="Whisky.Name"></label>
        <input  asp-for="Whisky.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Whisky.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whisky.Age"></label>
        <input asp-for="Whisky.Age" class="form-control" />
        <span class="text-danger" asp-validation-for="Whisky.Age"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whisky.Location"></label>
        <input type="text" list="locations" asp-for="Whisky.Location" class="form-control" />
        <datalist id="locations">
            @foreach(string location in Model.Locations)
            {
                <option>@location</option>
            }
        </datalist>
        <span class="text-danger" asp-validation-for="Whisky.Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whisky.AlcoholPercentage"></label>
        <input asp-for="Whisky.AlcoholPercentage" class="form-control" />
        <span class="text-danger" asp-validation-for="Whisky.AlcoholPercentage"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whisky.Type"></label>
        <select class="form-control" asp-for="Whisky.Type"
                asp-items="Model.Type">
        </select>
        <span class="text-danger" asp-validation-for="Whisky.Type"></span>
    </div>

    <div class="form-group">
        <label asp-for="Whisky.Price"></label>
        <input asp-for="Whisky.Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Whisky.Price"></span>
    </div>

    <div class="form-group">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" class="custom-file-input form-control">
                <label class="custom-file-label">Click here to change photo</label>
            </div>
        </div>
    </div>


    <div class="form-group row col-sm-4 offset-4">
        <img class="imageThumbnail" src="@photoPath" asp-append-version="true" />
    </div>



    <button type="submit" class="btn btn-secondary">Save</button>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
</script>
    }


</form>