@page
@model SLS.Pages.Slijterij.ListModel
@{
    ViewData["Title"] = "Whiskies";
}

<h1>Whiskies</h1>


<form>
    <p>
        <select asp-for="SearchLocation" asp-items="Model.Locations">
            <option value="">Alle Locaties</option>
        </select>

        <select asp-for="SearchAlcoholPercentage" asp-items="Model.AlcoholPercentages">
            <option value="">Alle Percentages</option>
        </select>

        <select asp-for="SearchAge" asp-items="Model.Ages">
            <option value="">Alle Leeftijden</option>
        </select>

        <select asp-for="SearchType" asp-items="Model.Types">
            <!--<option value="">Alle Soorten</option>-->
        </select>


        <input type="text" name="SearchTerm">
        <input type="submit" value="Filter" />

    </p>
</form>
<!--<form method="get">
    <div class="form-group">
         <div class="input-group">
             <input type="search" class="form-control"
                    asp-for="SearchTerm" />
             <span class="input-group-btn">
                <button class="btn btn-secondary">
                    <div>search</div>
                </button>
             </span>
         </div>
    </div>
</form>-->

<div class="card-deck">
    @foreach (var whisky in Model.Whiskies)
    {
        <partial name="_Summary" model="whisky" />
    }
</div>
<a asp-page=".\Edit" class="btn btn-secondary">Add New</a>
